@import url('reset.css');

:root {
    /*提示色*/
    --kv_blue: #4980EB;
    /*輔助灰階色*/
    --kv_gray: #D9D9D9;
    /*主色*/
    --kv_orange: #FA8801;
    /*第二主色*/
    --kv_red: #E23939;
}

body {
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: 'Inter', 'Noto Sans TC', sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h6 {
    font-size: 60px;
}

/*-------滿版-------*/
.full {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*---------非滿版----------*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}



/*----------header-----------*/
.header {
    font-family: 'Aoboshi One', serif;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 20px 0px 20px 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.header:hover {
    background-color: rgba(0, 0, 0, .7);
}

/*僅主頁header需加*/
.index {
    background-color: rgba(0, 0, 0, .7);
}

.header>a {
    background-image: url('../img/logo/logo_gray.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: block;
    height: 60px;
    width: 60px;
}

.header>i {
    display: none;
}

.header ul {
    display: flex;
    width: 900px;
}

.index ul {
    display: flex;
    width: 800px;
}

.header li {
    flex-basis: 100px;
    flex-grow: 1;
}

.header li:nth-last-child(2) {
    flex-grow: 2;
}

.header li:nth-last-child(6) {
    flex-grow: 1.5;
}

.header li:last-child a {
    padding-right: 30px;
    text-align: right;
}

.header li:last-child a {
    color: var(--kv_blue);
}

.header li a {
    display: block;
    text-decoration: none;
    color: var(--kv_gray);
    line-height: 60px;
}

.header ul li .page_home {
    color: var(--kv_blue);
}

.header ul li .page_now {
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

.header li:hover a {
    border-top: 2px dashed var(--kv_orange);
    border-bottom: 2px dashed var(--kv_orange);
    color: var(--kv_orange);
}

.header li:last-child:hover a {
    border: none;
}

/*-----------hover 才出現的次選單----------*/

.header li:nth-last-child(4):hover .hidden {
    display: block;
}

.header .hidden {
    display: none;
}

.header .hidden ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 81px;
    right: -265px;
}

.header .other_hidden ul {
    top: 81px;
    right: -373px;
}

.header .hidden li {
    width: 180px;
    flex-basis: 50px;
}

.header .hidden li a {
    background-color: #333;
    color: var(--kv_gray);
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: var(--kv_gray);
    line-height: 50px;
    text-align: left;
    padding: 0 20px;
}

.header .hidden li a:hover {
    background-color: var(--kv_orange);
    box-shadow: inset 4px 4px 2px rgba(0, 0, 0, .5);
    color: black;
}



/*---------js限定次選單-----------*/
.header .li_hidden {
    padding-left: 50px;
    font-size: 14px;
}

/*---------------footer-------------------*/
.footer {
    width: 100%;
    padding: 20px 40px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgba(36, 36, 36, 0.8);
    display: flex;
    justify-content: space-between;
}



.footer ul {
    display: flex;
    align-items: center;
}

.footer li a {
    display: block;
    text-decoration: none;
    color: var(--kv_gray);
}

.footer .about {
    width: 500px;

}

.footer~div {
    font-size: 20px;
}

.footer .about li {
    flex-grow: 1;
}

.footer .about li a {
    line-height: 60px;
    text-align: center;
}

.footer .about li a:hover {
    color: white;
    text-decoration: underline;
}

.footer img {
    width: 60px;
    margin: 0 auto;
}

.footer .social_media {
    box-sizing: border-box;
    padding-left: 100px;
    width: 40%;
    justify-content: flex-end;
}


.footer .social_media li a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    background-image: url(../img/icon/media/icon-media_sprite_2.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
    margin-right: 20px;
}

.footer .social_media li a:hover {
    background-color: var(--kv_gray);
}

.footer .social_media li:nth-child(1) a {
    background-position: 0px 0px;
}

.footer .social_media li:nth-child(2) a {
    background-position: -80px 0px;
}

.footer .social_media li:nth-child(3) a {
    background-position: -160px 0px;
}

.footer .social_media li:nth-child(4) a {
    background-position: -238px 0px;
}



/* -----------SEE A MOVIE LIGHTBOX------------- */

/*----------訂票燈箱------------*/
.lightbox {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, .7);

}

.lightbox .popup {
    outline: 4px solid blue;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
}

.lightbox .kv_title {
    margin: 10px;
    position: static;
    transform: none;
}

.lightbox .container {
    display: flex;
}

.lightbox .container ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-right: 40px;
    justify-content: center;
}

.lightbox .container ul li {
    outline: 3px solid purple;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.lightbox .container ul a {
    display: block;
    height: 100%;
}

.lightbox .container .banner a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.lightbox .container .banner:first-child a {
    background-image: url(../img/01mainpage/main_top/main_fullscreen_00.jpg);
}

.lightbox .container .banner:nth-child(2) a {
    background-image: url(../img/01mainpage/main_top/main_top_01.jpg);
}

.lightbox .container .banner:nth-child(3) a {
    background-image: url(../img/01mainpage/main_top/main_top_02.jpg);
}

.lightbox .container .banner:nth-child(4) a {
    background-image: url(../img/01mainpage/main_top/main_top_03.jpg);
    background-position-x: right;
}

.lightbox .container .banner:nth-child(5) a {
    background-image: url(../img/01mainpage/main_top/main_top_04.jpg);
}

.lightbox .container .banner:nth-child(6) a {
    background-image: url(../img/01mainpage/main_top/main_top_05.jpg);
}

.lightbox .container .banner:nth-child(7) a {
    background-image: url(../img/01mainpage/main_top/main_top_06.jpg);
    background-position-x: left;
}

.lightbox .container .banner:nth-child(8) a {
    background-image: url(../img/01mainpage/main_top/main_top_07.jpg);
}

.lightbox .container .banner:nth-child(9) a {
    background-image: url(../img/01mainpage/main_top/main_top_08.jpg);
}

/* 右方－訂票資訊 */
.lightbox .container ul+div {
    padding-right: 20px;
}

.lightbox .container>div {
    width: 35%;
}

.lightbox .container h3 {
    margin-bottom: 0;
}

.lightbox .container i {
    color: var(--kv_orange);
    margin-left: 10px;
}

.lightbox .container>div>div:first-child,
.lightbox .container>div>div:nth-child(2) {
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 20px;
    padding-left: 40px;

}

.lightbox .container>div>div:first-child h3,
.lightbox .container>div>div:nth-child(2) h3 {
    margin-right: 10px;
    font-size: 20px;
}

.lightbox .container>div section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.lightbox .container>div section p {
    margin-right: 10px;
}

.lightbox .container>div section .nums_select {
    margin-bottom: 0;
    position: relative;

}

.lightbox .container>div section .nums_select::after,
.lightbox .container>div section .nums_select::before {
    margin: 0;
    width: 24px;
    height: 24px;
    line-height: 20px;
    position: absolute;
}

.lightbox .container>div section .nums_select::before {
    left: 0px;
    top: 4px;
}

.lightbox .container>div section .nums_select::after {
    right: 0px;
    top: 4px;
}

.lightbox .container>div section .bgbtn {
    width: 24px;
    height: 24px;

}

.lightbox .container>div section h3 {
    box-shadow: 2px 4px 0px var(--kv_orange);
    margin: 0 8px;
}

.lightbox .container .ticket_select+div {
    display: flex;
    justify-content: flex-end;
}



.lightbox .radio table {
    margin: 20px auto;
}

.lightbox .radio input {
    accent-color: var(--kv_orange);
    transform: scale(1.5);
}

.lightbox .radio td {
    padding-left: 10px;
    padding-right: 10px;
}

.lightbox .radio table tr:first-child td {
    padding-bottom: 10px;
}

.lightbox .container .btn_block {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}


.lightbox .container .btn_block+a {
    width: 40%;
    margin: 0 auto;
}


/* -----------RWD------------- */



@media screen and (max-width:1100px) {
    .footer {
        padding: 20px;
    }

    .footer~div {
        font-size: 12px;
    }

    .footer .social_media li a {
        margin-right: 10px;
    }


    .footer .social_media li a {
        margin-right: 10px;
        width: 64px;
        height: 64px;
        background-size: cover;
    }

    .footer .social_media li:nth-child(1) a {
        background-position: 0px 0px;
    }

    .footer .social_media li:nth-child(2) a {
        background-position: -64px 0px;
    }

    .footer .social_media li:nth-child(3) a {
        background-position: -128px 0px;
    }

    .footer .social_media li:nth-child(4) a {
        background-position: -190px 0px;
    }
}

/*------------------ 加漢堡 ------------------------*/
@media screen and (max-width:980px) {

    /*---------js限定漢堡線特效-----------*/
    .header .-on {
        right: 0;
        transition: all .75s ease-in;
    }

    .header .-off {
        right: -250px;
        transition: all .5s ease-in-out;

    }

    .header {
        width: 100%;
        height: 60px;
        padding: 10px 20px 10px;
    }

    .header>a {
        width: 40px;
        height: 40px;
    }

    .header section.hidden {
        display: none;
    }

    .header .fa-bars {
        display: block;
        color: white;
        float: right;
        font-size: 24px;
        line-height: 1.6;
    }

    .header ul {
        position: absolute;
        top: 60px;
        background-color: rgba(0, 0, 0, .7);
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .header li {
        padding: 10px 20px;
        flex-basis: 30px;
    }

    .header li a {
        line-height: 30px;
        text-align: left;
    }

    .header li:last-child a {
        padding-right: 0px;
        text-align: left;
    }

}

@media screen and (max-width:920px) {

    .footer .concern {
        width: 400px;
    }

    .footer .about {
        width: 100%;
    }

    .footer .about li a {
        font-size: 12px
    }



}

@media screen and (max-width:780px) {
    .footer .concern {
        width: 300px;
    }

    .footer .about {
        width: 100%;
    }



    .footer .social_media li a {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    .footer .social_media li:nth-child(1) a {
        background-position: 0px 0px;
    }

    .footer .social_media li:nth-child(2) a {
        background-position: -40px 0px;
    }

    .footer .social_media li:nth-child(3) a {
        background-position: -80px 0px;
    }

    .footer .social_media li:nth-child(4) a {
        background-position: -118px 0px;
    }
}

@media screen and (max-width:700px) {
    .footer img {
        width: 40px;
        height: 40px;
        align-self: center;
    }

    .footer .concern {
        width: 250px;
    }

    .footer .about {
        width: 100%;
    }
}

@media screen and (max-width:540px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 0 20px 20px;
    }

    .footer .concern {
        width: 100%;
    }

    .footer .social_media {
        width: 100%;
        padding: 0;
        align-self: center;
        justify-content: center;
        margin-top: 8px;
    }
}