.kv_title {
    background-color: var(--kv_orange);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4px;
    color: black;
    padding-bottom: 12px;

}


/*寫在a標籤上*/
.btn {
    display: block;
    text-decoration: none;
    color: var(--kv_gray);
    border: 4px solid var(--kv_gray);
    padding: 8px 16px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    box-shadow: inset 2px 2px 2px var(--kv_gray);
    border-color: white;
    background-color: white;
    color: black;
}

.btn_submit {
    color: white;
    background-color: var(--kv_orange);
    border-color: var(--kv_orange);
    transition: .3s;
}

.btn_submit:hover {
    background-color: var(--kv_orange);
    border-color: var(--kv_orange);
    box-shadow: inset 2px 2px 2px #B96E16;
    color: white;
}

.btn_black {
    color: black;
    border-color: black;
    transition: .3s;
    background-color: transparent;
    font-weight: bold;
}

.btn_black:hover {
    border-color: black;
}

.btn_orange {
    color: var(--kv_orange);
    border-color: var(--kv_orange);
    transition: .3s;
}

.btn_orange:hover {
    color: var(--kv_orange);
    border-color: var(--kv_orange);
    background-color: transparent;
}


.btn_blue {
    color: var(--kv_blue);
    border-color: var(--kv_blue);
    display: flex;
    align-items: center;
    transition: .3s;
    background-color: transparent;
}

.btn_blue::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../img/icon/icon_home.svg');
    margin-right: 4px;
}

.popup .btn_blue:hover {
    border-color: var(--kv_blue);
}

.btn_on {
    border-color: var(--kv_red);
    background-color: var(--kv_red);
    color: white;
    transition: .3s;
}

.btn_on:hover {
    border-color: var(--kv_red);
    color: white;
    box-shadow: inset 2px 2px 2px #A71616;
    background-color: var(--kv_red);
}

.mega_red {
    color: var(--kv_red);
}

.imax_blue {
    color: var(--kv_blue);
}


.btn_icon_mega,
.btn_icon_imax {
    display: flex;
}

.btn_icon_mega::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('../img/icon/icon_mega.svg');
    margin-right: 4px;
}

.btn_icon_imax::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('../img/icon/icon_imax.svg');
    margin-right: 4px;
}




/*-----------Ticket button bar-------------*/

.Tbtn_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 40px;
}

.Tbtn_bar div {
    display: flex;
    justify-content: space-between;
}

.Tbtn_bar div button {
    margin-right: 20px;
}



/*----------nums selector-----------*/
.nums_select {
    align-self: center;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.nums_select::before {
    content: '-';
    display: block;
    width: 32px;
    height: 32px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--kv_orange);
    color: black;
    margin-right: 8px;
}

.nums_select::after {
    content: '+';
    display: block;
    width: 32px;
    height: 32px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--kv_orange);
    color: black;
    margin-left: 8px;
}

.nums_select h3 {
    width: 48px;
    color: black;
    background-color: white;
    box-shadow: 4px 8px 0px var(--kv_orange);
    padding: 8px;
    font-size: 16px;
}

/*---------會員登入框-------------*/
.login {
    box-sizing: border-box;
    padding: 20px 40px;
    margin: 0 auto;
    width: 360px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    outline: 8px dashed var(--kv_orange);
}

.login .user {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



.login .pd {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

}

.login .user input:focus,
.login .pd input:focus {
    background-color: white;
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, .5);
    border: 2px solid var(--kv_orange);
}

.login label {
    color: black;
    align-self: flex-start;
    margin-bottom: 4px;
    padding-left: 8px;
    font-weight: bold;
}

.login label~input {
    background-color: var(--kv_gray);
    box-shadow: 4px 4px 0 var(--kv_orange);
    border: 2px solid var(--kv_gray);
    border-radius: 20px;
    padding: 12px 0 12px 16px;
    outline: none;
    transition: .5s;
}

.login div+a {
    text-decoration: underline;
    color: black;
    align-self: flex-end;
    margin-bottom: 40px;
}

.login div+a:hover {
    font-weight: bold;
}

.login .btn_submit {
    margin: 0 auto;
    padding: 8px 24px;
}

/*---------lightbox----------*/
.none {
    display: none;
}

.lightbox {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    color: black;
    padding-top: 120px;
}

.lightbox h2 {
    margin-top: 40px;
}

.container>div,
.lightbox h2,
.lightbox h3,
.lightbox img {
    margin-bottom: 40px;
}

.lightbox .btn_bar {
    display: flex;
    justify-content: center;
}

.lightbox .btn_bar .btn_blue {
    margin-right: 60px;
    background-color: white;
}

.lightbox img {
    width: 60px;
}

/*-------button----------*/
button {
    cursor: pointer;
}