.wrapper {
    max-width: 1000px;
}

.kv_title {
    margin-top: 120px;
    margin-bottom: 40px;
}

/*-------mini ticket 加處理----------*/
.mini_ticket {
    margin-bottom: 40px;
}

.mini_ticket img {
    height: 100%;
    align-self: center;
}

/*------mini ticket 訂單確認區塊---------*/

.check {
    text-align: left;
}

.check h3 {
    font-weight: bold;
    margin-bottom: 16px;
}

.check section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.check h3:last-child {
    color: var(--kv_orange);
    text-align: right;
    letter-spacing: 8px;
    margin-bottom: 0;
}

/*----------付款區塊-------------*/

.wrapper div+h2 {
    margin-top: 0px;
}

.btn_bar {
    width: 600px;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: space-between;
}

.cal {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    outline: 8px dashed var(--kv_orange);
    padding: 20px 40px 30px 40px;
    margin-bottom: 120px;

}

.cal section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: white;
    width: 180px;
    padding: 20px 0;
    box-shadow: 4px 8px 0 var(--kv_orange);
}

.cal section h2 {
    margin-bottom: 8px;
    font-size: 40px;
}

.cal .nums_select {
    margin-bottom: 0;
    align-items: center;
    margin: 0 20px 0 10px;
}