/* payment.html */
.wrapper {
    max-width: 1000px;
}

.kv_title {
    margin-top: 120px;
    margin-bottom: 40px;
}

/*-------mini ticket ----------*/
.mini_ticket {
    margin-bottom: 100px;
}

.mini_ticket>section:first-child {
    justify-content: center;
}

.mini_ticket>section:first-child img {
    margin-bottom: 60px;
}

.mini_ticket>section:nth-child(2) {
    margin: 0 auto;
}

.mini_ticket .ticket {
    margin-bottom: 40px;
    width: 90%;
}

.ticket div:first-child {
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.ticket .whitebgc {
    flex-direction: row;
}

.ticket .whitebgc p {
    align-self: center;
}

/*------mini ticket 訂單詳細內容區塊---------*/
.check {
    text-align: left;
    font-size: 20px;
    width: 90%;

}

.check h3 {
    font-weight: bold;
    margin-bottom: 16px;
    padding-left: 20px;
}

.check section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.check section p:first-child {
    padding-left: 20px;
}

.check section p:last-child {
    padding-right: 80px;
}

.check h3:last-child {
    color: var(--kv_orange);
    text-align: right;
    letter-spacing: 8px;
    margin-bottom: 0;
    align-self: flex-end;
}

/*----------付款區塊-------------*/

.wrapper div+h2 {
    margin-top: 0px;
}

.btn_bar {
    width: 600px;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: space-between;
}

.btn_bar .btn {
    flex-basis: 100px;
}

.cal {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    outline: 8px dashed var(--kv_orange);
    padding: 20px 40px 30px 40px;
    margin-bottom: 120px;
}

.cal section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: white;
    width: 180px;
    padding: 20px 0;
    box-shadow: 4px 8px 0 var(--kv_orange);
}

.cal section h2 {
    margin-bottom: 8px;
    font-size: 40px;
}

.cal .nums_select {
    margin-bottom: 0;
    align-items: center;
    margin: 0 20px 0 10px;
}

.cal .nums_select::after {
    content: '=';
}


.Tbtn_bar a {
    margin: 0 auto;
    width: 20vw;
}

/* -----------訂單成功 lightbox-------------- */


.lightbox .wrapper {
    width: 50%;
    outline: 8px dashed var(--kv_orange);
    background-color: rgba(0, 0, 0, .7);
}

.lightbox .container {
    flex-direction: column;
}

.lightbox .container h3 {
    margin: 20px auto;
    line-height: 1.6;
}

.lightbox .container>p {
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.lightbox .container .btn_bar {
    width: auto;
    margin-bottom: 20px;
}

.lightbox .container .btn_blue:hover {
    color: var(--kv_blue);
}

.lightbox .container img {
    margin: 0 auto;
}

/*-------------儲值金扣款 & 信用卡切換---------------*/
.-off {
    display: none;
}

.login {
    width: 360px;
    padding: 20px;
}

.login label {
    padding-left: 0;
    font-size: 20px;
}

.group {
    display: flex;
    flex-direction: column;

}

.group div {
    display: flex;
}

.group:first-child {
    margin-bottom: 16px;
}

.group:first-child input {
    margin-right: 20px;
}

.group:last-child input {
    width: 50px;
    margin-right: 8px;
}