/* ------------swiper(carousel)------------- */
.carousel {
    position: relative;
}

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide img {
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 40%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: bold;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--kv_gray);
}

/*---------滿版圖以下-------*/
/*----------main - side bar------------*/
.side_bar {
    background-color: var(--kv_orange);
    position: sticky;
    left: 0;
    top: 100px;
    width: 250px;
    height: 100vh;
    float: left;
    z-index: 5;
    text-align: left;
    overflow-y: auto;
}

/* 捲軸本體顏色 */
.side_bar::-webkit-scrollbar-thumb {
    background-color: var(--kv_gray);
}

.side_bar ul {
    display: flex;
    flex-direction: column;
}

.side_bar li a:hover {
    box-shadow: 0 4px 0 black;
    color: white;
}

.side_bar li a {
    display: block;
    text-decoration: none;
    color: var(--kv_gray);
    font-size: 24px;
    padding: 40px 40px;
}

.side_bar li .active {
    color: white;
    font-weight: bold;
}

/*-----------main - many cards with movies-------------*/
.card_pool {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0 80px;
}

.card_movie {
    text-align: left;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    outline: 8px dashed var(--kv_orange);
    margin: 0 16px 80px 16px;
}

.card_movie div {
    color: black;
    margin-bottom: 8px;
}

.card_movie h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card_movie img {
    width: 270px;
    height: 270px;
    border-radius: 20px;
}