/*-------main page 滿版圖---------*/
.top {
    /* background-image: url(../img/01mainpage/main_top/main_fullscreen_00.jpg); */
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    background-position: top center;
    position: relative;
}

h6 {
    font-family: 'Aoboshi One', serif;
}

/*-----------滿版圖文字-----------*/
.top .additional {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;
}

.top .additional h6 {
    font-size: 28px;
    margin-bottom: 16px;
}

.top .additional p {
    font-size: 16px;
}

/*------------main page hover bar---------------*/
.hover_bar ul {
    display: flex;
    justify-content: space-evenly;
}

.hover_bar li {
    height: 100px;
    flex-basis: 180px;
}

.hover_bar li a {
    display: block;
    width: 180px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hover_bar li a:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-top: 3px solid white;
    border-left: 3px solid var(--kv_gray);
}

.hover_bar li a:hover h5 {
    display: block;
    animation: appear 2s ease-in-out 0s infinite forwards;
}

.hover_bar li h5 {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--kv_gray);
    letter-spacing: 4px;
    font-size: 10px;
    text-align: center;
    font-style: italic;
    line-height: 1.5;
    display: none;
}

.hover_bar li img {
    width: 100%;
}

/*---------main page 不規則----------*/
.irregular {
    margin-top: 80px;
    height: 700px;
    position: relative;
}

.irregular img {
    position: absolute;
}

.irregular img:nth-child(1) {
    top: 0;
    left: 0;
}

.irregular img:nth-child(2) {
    left: 0;
    bottom: 0;
    margin-left: 130px;
    margin-bottom: 40px;
}

.irregular img:nth-child(3) {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 35px;
}

.irregular img:nth-child(4) {
    right: 0;
    margin-top: 100px;
}

.irregular h6 {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/*------main page food ad------*/
.food_ad {
    margin-top: 80px;
    padding: 0px 40px;
    display: flex;
}

.food_ad img {
    height: 100%;
}

.food_ad section {
    display: flex;
    flex-direction: column;
}

.food_ad h6 {
    font-size: 48px;
    margin-top: 160px;
    margin-bottom: 40px;
}

.food_ad h3 {
    font-size: 24px;
    line-height: 80px;
    margin-bottom: 120px;
    width: 80%;
    margin: 0 auto 120px;
    text-align: left;
}

.food_ad a {
    align-self: flex-end;
}

/*------main page ticket price--------*/
.price {
    height: 685px;
    margin-top: 80px;
    background-image: url(../img/01mainpage/main_ticketprice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.price .container {
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price h6 {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 16px;
}

.card_price {
    box-sizing: border-box;
    width: 250px;
    align-self: center;
    padding: 20px 20px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 8px 8px 0 var(--kv_orange);
    transition: .5s;
}

.card_price:hover {
    font-weight: bold;
    background-color: white;
    color: black;
    box-shadow: 8px 8px 0 black;
}

.card_price a {
    display: block;
    width: 72px;
    height: 72px;
    background-image: url(../img/icon/theaters/icon-theaters_sprite.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_price .normal {
    background-position: 0 0;
}

.card_price .mega {
    background-position: -72px 0;
}

.card_price .imax {
    background-position: -144px 0;
}

.card_price h2 {
    font-size: 32px;
}

.card_price section {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.card_price section:first-child {
    justify-content: flex-start;
}

.card_price section:first-child h2 {
    flex-grow: 1;
    margin-left: 8px;
    text-align: left;
}

.card_price p:first-child {
    font-size: 24px;
}

/*------main page external links--------*/
.bottom {
    background-image: url(../img/01mainpage/main_externallink.jpg);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    height: 100%;
    /*高度寫100vh似乎會太大  */
    margin-top: 80px;
    padding-bottom: 80px;
}

.bottom h1 {
    font-family: 'Aoboshi One', serif;
    font-size: 48px;
    letter-spacing: 8px;
    text-align: center;
}

.bottom .container {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 160px;
}

.bottom .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom .container li {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex-basis: 250px;
    align-items: center;
}

.bottom .container li a {
    display: block;
}

.bottom .container li a:first-child {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../img/icon/links/icon-links_sprite.png);
    margin-bottom: 40px;
}

.bottom .container li a:first-child:hover {
    outline: 8px dashed var(--kv_orange);
}

.bottom .container li a:last-child {
    color: var(--kv_orange);
    border-color: var(--kv_orange);
}

.bottom .container li a:last-child:hover {
    box-shadow: inset 2px 2px 2px black;
}

.bottom .container li:nth-child(1) a:nth-child(1) {
    background-position: 0 0;
}

.bottom .container li:nth-child(2) a:nth-child(1) {
    background-position: -200px 0;
}

.bottom .container li:nth-child(3) a:nth-child(1) {
    background-position: -400px 0;
}

.bottom .container li:nth-child(4) a:nth-child(1) {
    background-position: -600px 0;
}

.bottom .container li:nth-child(5) a:nth-child(1) {
    background-position: -800px 0;
}

.bottom .container li:nth-child(6) a:nth-child(1) {
    background-position: -1000px 0;
}

.bottom .container li:nth-child(7) a:nth-child(1) {
    background-position: -1200px 0;
}

.bottom .container li:nth-child(8) a:nth-child(1) {
    background-position: -1400px 0;
}