.wrapper {
    padding-top: 120px;
}

.kv_title {
    margin-bottom: 80px;
}

.card_pool {
    display: flex;
    flex-direction: column;
}

.card_map {
    display: flex;
    background-color: white;
    outline: 8px dashed var(--kv_orange);
    border-radius: 20px;
    padding: 20px 0 20px 40px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}

.card_map iframe {
    outline: 4px solid black;
    margin-right: 60px;
}

.card_map section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    align-self: center;
}

.card_map section h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 40px;
    font-family: 'Aoboshi One', serif;
    line-height: 2;
}

.card_map section h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.card_map>img {
    position: absolute;
    right: 30%;
    top: 60px;
    width: 60px;
}


.btn_bar {
    display: flex;
}

.btn_bar .btn {
    margin-right: 16px;
}