.wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    color: black;
    margin-top: 100px;
}

.container {
    padding: 0 60px;
}

h2,
p,
.btn_bar {
    margin-bottom: 40px;
}

h3 {
    line-height: 2;
    margin-bottom: 24px;
}

p {
    text-align: right;
    text-decoration: underline;
}

p:hover {
    font-weight: bold;
}

.btn_bar {
    display: flex;
    justify-content: center;
}

.btn_bar .btn_blue {
    margin-right: 60px;
}


img {
    width: 60px;
    padding-bottom: 8px;
}