/* payment.html */
/*-------RWD----------*/

@media screen and (max-width:770px) {
    .mini_ticket {
        padding: 0;
    }

    .btn_bar {
        width: 520px;
    }

    .btn_bar .btn {
        margin: 0 4px;
    }

    .cal {
        padding: 20px 20px 30px;
        margin-bottom: 80px;
    }

    .cal section {
        width: 120px;
    }

    .cal section h2 {
        font-size: 28px;
    }

    .cal section p {
        font-size: 12px;
    }

    .cal .nums_select {
        margin-right: 10px;

    }
}

@media screen and (max-width:700px) {
    .lightbox .wrapper {
        width: 60%;
    }

    .lightbox .container h3 {
        font-size: 20px;
    }

    .lightbox .btn_bar .btn_blue {
        margin-right: 20px;
    }
}

@media screen and (max-width:640px) {

    .check h3,
    .check section p:first-child {
        padding-left: 10px;
    }
}


@media screen and (max-width:530px) {

    .btn_bar {
        width: auto;
        margin: 0 40px 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn_bar .btn {
        flex-basis: 80px;
        margin: 0 20px;
        margin-bottom: 10px;
    }

    .cal {
        flex-direction: column;
        align-items: center;
    }

    .cal>section:first-child,
    .cal .nums_select {
        margin-bottom: 40px;
    }

    .cal .nums_select {
        position: relative;
    }

    .cal .nums_select::before,
    .cal .nums_select::after {
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 24px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .cal .nums_select::before {
        top: -28px;
    }

    .cal .nums_select::after {
        bottom: -36px;
    }

    .lightbox .wrapper {
        width: 70%;
    }

    .lightbox .kv_title {
        font-size: 28px;
    }

    .lightbox .container .btn_bar {
        margin-bottom: 0;
    }

    .lightbox .btn_bar .btn {
        margin: 0 4px 10px 4px;
        justify-content: center;
    }

    .lightbox img {
        width: 40px;
    }

}

@media screen and (max-width:500px) {

    .btn_submit,
    .lightbox .btn,
    .wrapper .btn_bar .btn {
        font-size: 12px;
    }
}


@media screen and (max-width:480px) {


    .kv_title {
        font-size: 28px;
    }


    .check h3 {
        font-size: 16px;
    }

    .check p {
        font-size: 16px;
    }

    .btn_bar .btn {
        margin: 0 8px;
        margin-bottom: 10px;
    }
}