/*--------RWD---------*/

@media screen and (max-width:960px) {
    .food_chart {
        justify-content: center;
    }

    .card_product {
        margin-bottom: 10px;
    }

    .card_product img {
        width: 100px;
        height: 100px;
    }

    .card_product img+div {
        margin-left: 20px;
    }

    .card_product .nums_select {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .card_pool {
        margin-right: 40px;
        margin-left: 0;
    }

    .receipt h2 {
        font-size: 20px;
    }

    .receipt p {
        font-size: 16px;

    }
}

@media screen and (max-width:800px) {
    .lightbox .container>h3:first-child {
        font-size: 20px;
    }
}

@media screen and (max-width:740px) {
    .food_chart {
        flex-direction: column;
        align-items: center;

    }

    .food_chart .card_pool {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 0;
        margin-bottom: 80px;
        justify-content: center;
    }


    .card_product {
        flex-direction: column;
        align-items: center;

        flex-basis: 200px;
    }

    .card_product img {
        margin-bottom: 20px;
    }

    .card_product img+div {
        margin-left: 0;
        flex-basis: 80px;
    }

    .card_product img+div h3,
    .card_product img+div p {
        text-align: center;
    }

    .card_product h3 {
        font-size: 20px;
    }

    .card_product .nums_select {
        align-items: center;
        margin-left: 0;
    }

    .card_product .nums_select::before,
    .card_product .nums_select::after {
        width: 20px;
        height: 20px;
        line-height: 16px;
    }


    .receipt>div {
        display: flex;
        width: 400px;
        margin-bottom: 40px;
    }

    .receipt>div div {
        display: flex;
        flex-direction: column;
        flex-basis: 150px;
        margin-top: 32px;
    }

}

@media screen and (max-width:680px) {
    .lightbox .wrapper {
        width: 60%;
    }

    .lightbox .login {
        padding: 20px 20px;
    }

    .lightbox input {
        font-size: 12px;
    }

    .lightbox img {
        width: 40px;
    }
}

@media screen and (max-width:560px) {
    .lightbox .wrapper {
        width: 70%;
    }
}


@media screen and (max-width:520px) {
    .card_product {
        flex-basis: 150px;
    }

    .receipt h2 {
        font-size: 16px;
    }

    .receipt>div {
        width: 280px;
    }

    .receipt>div div {
        flex-basis: 100px;
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) {
    .btn_submit {
        font-size: 12px;
    }

    .lightbox .wrapper {
        width: 70%;
    }

    .lightbox .container>h3:first-child {
        font-size: 16px;
    }

    .lightbox .container>h3:nth-child(2) {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .kv_title {
        font-size: 28px;
    }
}


@media screen and (max-width:420px) {
    .card_product {
        flex-basis: 100px;
    }
}